<script>
    import mainController from './mainController.js';
    import './main.scss';
    import AudioPlayer from '../../../lib/AudioPlayer.svelte';

    let src = 'https://sveltejs.github.io/assets/music/satie.mp3';
    src = '스파이더맨.mp3';
</script>

<main>
    <span class="no-data">아래 입력란 구현하고 음악 재생도 하고...</span>

    <AudioPlayer {src} />
</main>