<script>
    import sidebarController from './sidebarController.js';
    import './sidebar.scss';
</script>

<div class="sidebar">
    <button class="button" on:click={sidebarController.buttonClick}>Button</button>
</div>