.sidebar {
    background: #212121;
    width: 250px;
    position: fixed;
    height: 100%;
    color: #FFF;
    box-sizing: border-box;
    padding: 50px 0;
    overflow-x: auto;

    .button {
        background: #F3662D;
        color: #FFF;
        display: block;
        width: 80%;
        border: 0;
        font-weight: bold;
        font-size: 18px;
        padding: 15px 20px;
        margin: 0 auto;
        border-radius: 0;
        cursor: pointer;
    }
}